<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My page</title>
    <link rel="stylesheet" href="/static/myPage.css">
  </head>
  <body>
    <div class="card">
    <h2><%=userInfo.userName%>님 마이페이지</h2>
    <img src="/<%=src%>" alt="프로필 이미지" width="200" />
    <p>
      <span>아이디</span>
      <span><%=userInfo.userId%></span>
    </p>
    <p>
      <span>비밀번호</span>
      <span><%=userInfo.pw%></span>
    </p>
    <p>
      <span>이름</span>
      <span><%=userInfo.userName%></span>
    </p>
    <p>
      <span>나이</span>
      <span><%=userInfo.age%></span>
    </p>
    <div>
  </body>
</html>
